<div class="container pb-5">
  {{> header }}
    <div class="card mt-3">
      <div class="card-body">
        <h5 class="card-title">
          Glitch Fediverse Bot
        </h5>
        <p class="card-text">
          Work in progress. <a href="https://github.com/botwiki/fediverse-bot">See related GitHub repo.</a>
        </p>
      </div>
    </div>
    <p class="mt-4">
      <a class="btn btn-secondary" href="{{bot_url}}">Main page</a>
    </p>  
</div>
