body{
  background: #eff0f2;
}

main{
  max-width: 720px;
  margin: 0 auto;
}

img{
  max-width: 100%;
}

blockquote{
  /* Courtesy of css-tricks.com. */
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  // max-width: $max-content-width;
  margin: 2em auto;
  padding: 0.5em 1em 1em 0;
  quotes: "\201C""\201D""\2018""\2019";

  .col-md-6 &{
    padding: 1em;
  }

  &:before {
    color: #ccc;
    content: '“';
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  p {
    line-height: 1.5em;
    padding: 0 40px;
  }
}

.card-footer{
  a.post-date{
    color: #6c757d;
  }
}

#about-bot.jumbotron{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
